main {
  margin: 0px;
  text-align: center;
}

.zipcodes{
  display: flex;
  justify-content: center;
  gap:50px;
}

.zipcode{
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

p{
  font-size: 20px;
}

input{
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

body {
  margin: 0px;
  text-align: center;
}

header {
  border: solid black 5px;
  border-left: unset;
  border-right: unset;
  margin: 5px 0px;
}